img {
    width: 100%;
    vertical-align: middle;
}

body {
    background: #000  no-repeat center top / contain;
    @include imageCacheBust('../images/tvWall.webp')
}

.indexBox{
    position: relative;
    padding-top: 330px;

    @include rwd(2200){
        padding-top: 15vw;
    }
    
    @at-root .mainBox{
        display: flex;
        align-items: center;
        justify-content: center;
        @include rwd(1600){
            flex-direction: column-reverse;
        }

       .slog{
            width: 35%;
            max-width: 580px;
            margin-bottom: 5%;
            transform: translateX(10%);
            @include rwd(1600){
                width: 70%;
                transform: translateX(0%) translateY(-30%);
            }
        }
        .device{
            width: 45%;
            max-width: 750px;
            @include rwd(1600){
                width: 90%;
            }
        }
    }
 
    @at-root .dlBox{
        width: 100%;
        position: relative;
        top: -30px;
        @include rwd(1600){
           top: -8vw;
        }
        .logo{
            width: 180px;
            margin: auto;      
        }

        .btnBox{
            padding-top: 30px;
            display: flex;
            justify-content: center;
            @include rwd(800){
               flex-direction: column;
               align-items: center;
            }
            .btn{
                max-width: 250px;
                cursor: pointer;
            }
            .btn + .btn{
                margin-left: 40px;
                @include rwd(800){
                    margin-left: 0;
                    margin-top: -25px;
                }
            }
        }
    }    
}

