img {
    width: 100%;
    vertical-align: middle;
}


body {
    background: #000 url(../images/tvWall.webp) no-repeat center top / contain;
}

.indexBox{
    max-height: 1024px;
    position: relative;
    padding-top: 330px;
    overflow: hidden;

    @include rwd(2200){
        padding-top: 15vw;
    }
    .main{
        max-width: 1000px;
        margin: auto;
        @include rwd(1780){
            width: 57vw;
            min-width: 500px;
            max-width: unset;
        }
        @include rwd(550){
            width: 90%;
            min-width: 300px;
        }
    }

    @at-root .dlBox{
        width: 100%;
        position: relative;
        top: -120px;
        @include rwd(1780){
            top: -4vw;
        }
        .logo{
            width: 180px;
            margin: auto;      
        }

        .btnBox{
            padding-top: 30px;
            display: flex;
            justify-content: center;
            @include rwd(800){
               flex-direction: column;
               align-items: center;
            }
            .btn{
                max-width: 250px;
                cursor: pointer;
            }
            .btn + .btn{
                margin-left: 40px;
                @include rwd(800){
                    margin-left: 0;
                    margin-top: -25px;
                }
            }
        }
    }    
}

